:root {
  --bg-mode-light: rgb(255,255,255);
  --bg-mode-dark: rgb(150,150,150);
  --backdrop-filter-blur: blur(16px);
  --layer-behind: -1; /* hidden */
  --layer-0: 0; /* content */
  --layer-1: 10; /* navbar */
  --layer-2: 20; /* sheets */
  --layer-3: 30; /* burger */
  --layer-4: 40; /* modals */
  --transition-duration: .3s;
  --transition-cubic: all var(--transition-duration) cubic-bezier(0.075, 0.82, 0.165, 1);
  --size-xs: 7px;
  --size-sm: 10px;
  --size-md: 14px;
  --size-xl: 24px;
  --size-2xl: 32px;
  --gap-medium: 8px;
  --gap-large: 16px;
  --header-bar-height: 54px;
  --header-bar-padding: var(--size-md);
  --desktop-header-bar-height: 64px;
  --bottom-navigation-height: 64px;
  --bottom-navigation-offset-bottom: 14px;
  --navigation-rail-width: 80px;
  --tabs-navigation-height: 59px;
  --desktop-tabs-navigation-height: 64px;
  --color-white: rgb(255,255,255);
  --color-white-translucent: rgba(255,255,255,0.84);
  --color-white-translucent-medium: rgba(255,255,255,0.7);
  --color-white-translucent-light: rgba(255,255,255,0.5);
  --color-black: rgb(0,0,0);
  --color-black-translucent: rgba(0,0,0,0.84);
  --color-black-translucent-medium: rgba(0,0,0,0.7);
  --color-black-translucent-light: rgba(0,0,0,0.5);
  --color-grey: rgb(150, 150, 150);
  --color-grey-light: rgb(220, 220, 220);
  --color-primary: #425e29;
  --color-secondary: #014421;
  --color-accent: #c85365;
  --color-link: #007bff;
  --color-error: rgb(179, 0, 0);
  --color-success: rgb(87, 165, 76);
  --color-info: rgb(0, 123, 255);
  --box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.15);
  --box-shadow-hover: 0px 1px 1px 0px rgba(0,0,0,0.3);
  --box-shadow-active: 0px 1px 1px 0px rgba(87,165,76,0.5);
  --border-radius: 20px;
  --border-radius-sm: 12px;
  --border-radius-xs: 8px;
  --font-size-xs: 8px;
  --font-size-sm: 10px;
  --font-size-md: 12px;
  --font-size-lg: 16px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 28px;
  --collapsed-bottomsheet-height: 54px;
  --matrix-filter-selection-highlight: rgba(150,150,150,.8);
  --text-muted: rgb(150,150,150);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

* {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::-webkit-scrollbar {
  display: none;
}

html {
  background: var(--bg-mode-light);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  font-family: 'Roboto';
  font-size: 16px;
  color: var(--color-black);
}

.absolute {
  position: absolute;
}

#app {
  min-height: 100vh;
  min-height: 100dvh;
}

body.dark {
  background: var(--bg-mode-dark);
  color: var(--color-white);
}

.bg-solid {
  background: rgba(255,255,255,1);
}

body.dark .bg-solid {
  background: rgba(0,0,0,1);
}

.bg-translucent {
  background: var(--color-white-translucent);
}

body.dark .bg-translucent {
  background: var(--color-black-translucent);
} 

.bg-translucent-light {
  background: var(--color-white-translucent-light);
}

.bg-error {
  background: var(--color-error);
  color: #FFF;
}

body.dark .bg-translucent-light {
  background: rgba(80,80,80, 0.5);
}

.bg-translucent-medium {
  background: var(--color-white-translucent-medium);
}


.bg-light {
  background: var(--color-white);
}

body.dark .bg-translucent-medium {
  background: var(--color-black-translucent-medium);
}

.backdrop-filter {
  -webkit-backdrop-filter: var(--backdrop-filter-blur);
  backdrop-filter: var(--backdrop-filter-blur);
}

.text-solid {
  color: var(--color-black);
}

.text-solid-inverse {
  color: var(--color-white);
}

body.dark .text-solid {
  color: var(--color-white);
}

.page {
  min-height: 100vh;
  min-height: 100dvh;
}

.page-full {
  height: 100vh;
  height: 100dvh;
}

.w-100 {
  width: 100%;
}

.header-padding-top {
  padding-top: var(--header-bar-height);
}


.pt-m {
  padding-top: var(--size-md);
}

.pb-sm {
  padding-bottom: var(--size-sm);
}

.pb-m {
  padding-bottom: var(--size-md);
}

.pb-xl {
  padding-bottom: var(--size-xl);
}

.pb-2xl {
  padding-bottom: var(--size-2xl);
}

.pt-sm {
  padding-top: var(--size-sm);
}

.pt-md {
  padding-top: var(--size-md);
}

.pt-xl {
  padding-top: var(--size-xl);
}

.pt-2xl {
  padding-top: var(--size-2xl);
}

.mb-m {
  margin-bottom: var(--size-md);
}
.mt-m {
  margin-top: var(--size-md);
}

.mt-xl {
  margin-top: var(--size-xl);
}

.mb-xl {
  margin-bottom: var(--size-xl);
}

.mb-2xl {
  margin-bottom: var(--size-2xl);
}

.mt-2xl {
  margin-top: var(--size-2xl);
}

.my-xl {
  margin-top: var(--size-xl);
  margin-bottom: var(--size-xl);
}

.my-m {
  margin-top: var(--size-md);
  margin-bottom: var(--size-md);
}

.px-m {
  padding-left: var(--size-md);
  padding-right: var(--size-md);
}

.py-xl {
  padding-top: var(--size-xl);
  padding-bottom: var(--size-xl);
}

.py-2xl {
  padding-top: var(--size-2xl);
  padding-bottom: var(--size-2xl);
}


.font-size-md {
  font-size: var(--font-size-md);
}

.font-size-lg {
  font-size: var(--font-size-lg);
}

.font-size-xl {
  font-size: var(--font-size-xl);
}

.text-justify {
  text-align: justify;
}

.notransition {
  transition: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

strong {
  font-weight: bold;
}

.cursor-pointer :hover {
  cursor:pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container-md {
  width: 100%;
  margin: 0 auto;
}

.container-small {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

a.nolinkstyle, .nolinkstyle a, a.nolinkstyle:visited, .nolinkstyle a:visited, a.nolinkstyle:hover, .nolinkstyle a:hover {
  text-decoration: none;
  color: var(--color-black);
}

body.dark a.nolinkstyle, body.dark .nolinkstyle a, body.dark a.nolinkstyle:visited, body.dark .nolinkstyle a:visited, body.dark a.nolinkstyle:hover, body.dark .nolinkstyle a:hover {
  color: var(--color-white);
}

.vfm--fixed {
  z-index: var(--layer-4);
}

.vfm--overlay {
  background-color: rgba(0,0,0,0.85);
}

.vfm-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glossary_link {
  color: var(--color-link);
}

.line-height-md {
  line-height: 1.5;
}

@media (min-width: 640px) {
  .container-small {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .container-small {
    max-width: 540px;
  }

  .container-md {
    max-width: 800px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {

  .font-size-xl {
    font-size: var(--font-size-xl);
  }
}

@media (min-width: 1536px) {
}
