@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 100 900; /* Variable font supports full weight range */
  src: local(''), url('/fonts/Inter_Tight/InterTight-VariableFont_wght.ttf') format('truetype-variations');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900; /* Variable font supports full weight range */
  src: local(''), url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900; /* Variable font supports full weight range */
  src: local(''), url('/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
}

@font-face {
  font-family: 'Inter Tight';
  font-style: italic;
  font-weight: 100 900; /* Variable font supports full weight range */
  src: local(''), url('/fonts/Inter_Tight/InterTight-Italic-VariableFont_wght.ttf') format('truetype-variations');
}